/client_secret.json
/HOMUS-2.0.zip
/Rebelo-Music-Symbol-Dataset2.zip
/Rebelo-Music-Symbol-Dataset1.zip
/PrintedMusicSymbolsDataset.zip
/AudiverisOmrDataset.zip
/MUSCIMA-pp_v0.9.zip
/Fornes-Music-Symbols.zip
/OpenOMR-Dataset.zip
/MUSCIMA-pp_v0.9.1.zip
/Music_Symbols.zip
.idea