# Use conda install ... to install these
matplotlib==3.2.1
pillow==7.1.1
graphviz==0.13.2 # for graphviz, installation via the system might be required, e.g. sudo apt-get install graphviz or directly from their website https://graphviz.gitlab.io/
pytest==5.4.1
pandas==1.0.3

# Use pip install ... to install these
tensorflow
# tensorflow-gpu # Alternatively if available to run vastly faster trainings. See https://github.com/philferriere/dlwin
codecov
pytest-cov
h5py==2.10.0
scikit-learn==0.22.2
scipy==1.4.1
sympy==1.5.1
PyHamcrest
muscima
numpy==1.18.2
lxml==4.5.0
pydot
tqdm==4.45.0
omrdatasettools==1.0
scikit-image==0.16.2

# Optional for reporting
telegram_send
google-api-python-client # if pip install does not work, run "pip install --upgrade google-api-python-client"
oauth2client