# Use conda install ... to install these
matplotlib==3.2.1
pillow==7.1.2
graphviz==0.14 # for graphviz, installation via the system might be required, e.g. sudo apt-get install graphviz or directly from their website https://graphviz.gitlab.io/
pytest==5.4.2
pandas==1.0.4

# Use pip install ... to install these
tensorflow==2.1.0
codecov==2.1.3
pytest-cov==2.9.0
h5py==2.10.0
scikit-learn==0.23.1
scipy==1.4.1
sympy==1.6
PyHamcrest==2.0.2
muscima==0.10.0
numpy==1.18.4
lxml==4.5.1
pydot==1.4.1
tqdm==4.46.0
omrdatasettools==1.2.2
scikit-image==0.17.2

# Optional for reporting
telegram_send==0.25
google-api-python-client==1.8.4 # if pip install does not work, run "pip install --upgrade google-api-python-client"
oauth2client==4.1.3
