# Use conda install ... to install these
matplotlib
pillow
graphviz # for graphviz, installation via the system might be required, e.g. sudo apt-get install graphviz
pytest

# Use pip install ... to install these
keras == 3.9.0
tensorflow == 2.12.1
# tensorflow-gpu == 1.2.1 # Alternatively if available.
codecov
pytest-cov
scipy
h5py
scikit-learn
sympy